<fieldset class="govuk-fieldset" aria-describedby="basic-hint basic-error">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-heading-l">
        Basic details and contact
      </h1>
    </legend>
    <span id="basic-hint" class="govuk-hint">
      1. Add the name and contact details for your company.
    </span>


    <div class="">
      <label class="govuk-label" for="organisation-name">
        Name of your organisation
      </label>
      <span id="address-name-error" class="govuk-error-message hide">
        Enter the organisation name
      </span>
      <input class="govuk-input" id="organisation-name" name="organisation-name" type="text" value="{{data['organisation-name']}}">
    </div>

    <div class="">
      <label class="govuk-label" for="company-number">
        Company number
      </label>
      <span id="company-number-error" class="govuk-error-message hide">
        Enter the company number, is available
      </span>
      <input class="govuk-input" id="company-number" name="company-number" type="text" value="{{data['company-number']}}">
    </div>
        
    <div class="">      
      <label class="govuk-label" for="primary-contact">
        Primary contact full name
      </label>
      <span id="primary-contact-error" class="govuk-error-message hide">
        Enter the name of the Primary Contact
      </span>
      <input data-required="true" class="govuk-input" id="primary-contact" name="primary-contact" type="text" value="{{data['primary-contact']}}">
    </div>
    
    <div class="">
      <label class="govuk-label" for="primary-contact-role">
        Primary contact role at organisation
      </label>
      <span id="primary-contact-role-error" class="govuk-error-message hide">
        Enter the person's role
      </span>
      <input data-required="true" class="govuk-input" id="primary-contact-role" name="primary-contact-role" type="text" value="{{data['primary-contact-role']}}">
    </div>

    <div class="">
      <label class="govuk-label" for="phone">
        Primary contact telephone number
      </label>
      <span id="phone-error" class="govuk-error-message hide">
        Enter the contact phone number
      </span>
      <input data-required="true" class="govuk-input" id="phone" name="phone" type="text" value="{{data['phone']}}">
    </div>

    <div class="">
      <label class="govuk-label" for="email">
        Primary contact email address
      </label>
      <span id="email-error" class="govuk-error-message hide">
        Enter the contact email
      </span>
      <input data-required="true" class="govuk-input" id="email" name="email" type="text" value="{{data['email']}}">
    </div>
  </fieldset>

    <br/>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="share-details-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-heading-m">
        </h1>
    </legend>
    <span id="share-details-hint" class="govuk-hint">
        
        2. Do you agree to the information you share about your organisation being used by BEIS and any other Government departments in relation to this initiative?
        </span>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="share-details" name="share-details" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="share-details">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="share-details-2" name="share-details" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="share-details-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>