
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="is-clinical-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-heading-l">
                    Speed of response
                </h1>
              </legend>

              <span id="is-clinical-hint" class="govuk-hint">
            </span>

              <div class="govuk-form-group">
                <label class="govuk-label" for="speed-start">
                    10. How quickly do you estimate you could meet with Government officials to discuss
                    your offer of support?
                </label>
                <input class="govuk-input" id="speed-start" name="speed-start" type="text">
              </div>

 

            </fieldset>
          </div>